# Node.js specific files
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

.DS_Store

# Environment variables
.env
.env.test
.env.production

.vscode/

/history

backend/scripts

# production build
build/

# local build
dist/
